* {
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
}

header {
    top: 0;
    height: 290px;
    width: 100%;
    display: inline-block;
    text-align: center;
    position: fixed;
    z-index: 1;
}

header a {
    color: inherit;
    text-decoration: inherit;
}

#logo-area {
    padding: 30px;
    background-color: #e6ddce;
}

#logo-area h1 {
    font-family: 'PT Mono', monospace;
    font-weight: normal;
    font-size: 3em;
    margin: 0;
}

#logo-area h2 {
    font-family: 'IM Fell English', serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1.8em;
    margin: 0;
    color: #A84809;
}

nav {
    box-shadow: 0 5px 5px #00000025;
    text-align: center;
    background-color: #f3f0eb;
    height: 60px;
    padding: 0 30px;
}

nav a {
    display: inline-block;
    padding: 15px;
    font-family: 'IM Fell English', serif;
    font-weight: 400;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
}

#menu {
    display: none;
}

section {
    position: absolute;
    top: 290px;
    padding: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #f3f0eb;
}

article {
    margin: 0px 30px 30px 30px;
    max-width: 300px;
    text-align: center;
    height: fit-content;
}

.article-name {
    text-transform: uppercase;
    font-family: 'IM Fell English', serif;
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    margin: 0px 0px 10px 0px;
}

article .material-icons {
    font-size: 3em;
    color: #A84809;
}

.article-text {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.9em;
    margin: 20px 20px 0px 20px;
    text-align: left;
    line-height: 1.4em;
}

nav a:link, nav a:visited {
    color: black;    
}

nav a:hover {
    background-color: #e6ddce;
}
 
#produtos, #servicos, #contato, #sobre {
    display: none;
}

nav a.selected {
    color: #A84809;
}

@media (max-width: 803px) {   
    article {
        max-width: 600px;
    }
}

@media (min-width: 627px) and (max-width: 803px) {
    nav a {
        padding: 15px 1.25vw;
        font-size: 3vw;
    }
}

@media (max-width: 626px) {
    nav a {
        display: none;
    }

    #menu {
        display: flex;
        position: absolute;
        padding: 10px 0;
    }

    #menu .material-icons {
        font-size: 2.5em;
        color: #A84809;
    }

    article {
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}